layout {
	pane {

		pane split_direction="vertical" {
			
			// need to wait cartesi build
			//  but when cartesi build again, the running one get into issues
			// pane name="cartesi build" command="bash" {
			// 	args "-c" "pnpm cartesi:build:watch;  ${SHELL-bash}"
			// }
			// pane name="cartesi run" command="bash" {
			// 	args "-c" "pnpm cartesi:run;  ${SHELL-bash}"
			// }
			// so instead we build once and open a shell
			pane name="cartesi build" command="bash" {
				args "-c" "pnpm cartesi:build;  ${SHELL-bash}"
			}
			pane name="cartesi run" command="bash" {
				args "-c" "${SHELL-bash}"
			}
			//
			pane name="machine-web-build" command="bash" {
				args "-c" "pnpm run --filter ./machine build:watch; ${SHELL-bash}"
			}

		}

		pane split_direction="vertical" {
			pane name="wasm2hex" command="bash" {
				args "-c" "cd wasm2hex; ${SHELL-bash}"
			}
			pane name="wasm2hex" command="bash" {
				args "-c" "cd wasm2hex; cargo watch -c -w src -x build; ${SHELL-bash}"
			}
		}

		pane split_direction="vertical" {
			pane name="bots/rust" command="bash" {
				args "-c" "cd bots/rust; cargo watch -c -w src -x 'build --release'; ${SHELL-bash}"
			}
		}

		pane split_direction="vertical" {
			pane name="machine-executor" command="bash" {
				args "-c" "cd machine-executor; ${SHELL-bash}"
			}
			pane name="machine-executor" command="bash" {
				args "-c" "cd machine-executor; cargo watch -c -w src -x build; ${SHELL-bash}"
			}
		}
	}
}
